doc/paynet/XML-FSCM-INVOICE-2003A.DTD

<!--  XML-FSCM-INVOICE-2003A  -->
<!ELEMENT XML-FSCM-INVOICE-2003A (INTERCHANGE, (Signature?, INVOICE)+)>
<!ELEMENT INVOICE (HEADER, LINE-ITEM+, SUMMARY)>
<!ATTLIST INVOICE Type (EFD|EGS) "EFD"
                  ID CDATA #FIXED "SEC_ID_2003A">


<!--  HEADER  -->
<!ELEMENT HEADER (FUNCTION-FLAGS?, MESSAGE-REFERENCE, PRINT-DATE, DELIVERY-DATE*, Invoice-Instr?, TITLE?, GENERAL-INFO?, REFERENCE, BILLER, DECLARANT?, SUPPLIER?, PAYER, DELIVERY-PARTY*, OTHER-PARTY*, Exchange-Rate?, ALLOWANCE-OR-CHARGE*)>
<!ELEMENT PRINT-DATE (Date, No-Print?)>
<!ELEMENT DELIVERY-DATE (Date)>
<!ELEMENT Invoice-Instr EMPTY>
<!ATTLIST Invoice-Instr Language (E|F|I|D) #IMPLIED
                        Ptt (REG|APO|BPO) #IMPLIED
                        Layout-Id CDATA #IMPLIED>
<!ELEMENT TITLE (Line-70)>
<!ELEMENT REFERENCE (INVOICE-REFERENCE, TRX-REFERENCE?, Back-Pack?, ORDER*, DELIVERY-NOTE*, REMINDER?, OTHER-REFERENCE*)>
<!ELEMENT INVOICE-REFERENCE (REFERENCE-DATE)>
<!ELEMENT ORDER (REFERENCE-DATE)>
<!ELEMENT DELIVERY-NOTE (REFERENCE-DATE)>
<!ELEMENT REMINDER (REFERENCE-DATE)>
<!ATTLIST REMINDER Which (MAH|M02|M03|M04) 'MAH'>
<!ELEMENT Back-Pack EMPTY>
<!ELEMENT Exchange-Rate (#PCDATA)>
<!ATTLIST Exchange-Rate From-Currency CDATA #IMPLIED
                        From-Currency-Base-Rate CDATA #IMPLIED
                        To-Currency CDATA #IMPLIED
                        To-Currency-Base-Rate CDATA #IMPLIED
                        Currency-Market-Exchange CDATA #IMPLIED
                        Exchange-Date-Type (134|171) #IMPLIED
                        Exchange-Date CDATA #IMPLIED
                        Exchange-Date-Format  (CCYYMMDD|CCYYMMDDHHMM|CCYYMMDDHHMMSS) "CCYYMMDD">

<!-- LINE-ITEM  -->
<!ELEMENT LINE-ITEM (ITEM-ID?, ITEM-DESCRIPTION*, ITEM-REFERENCE*, ITEM-DATE*, DELIVERY-TERMS?, ITEM-LOCATION?, Quantity*, Price*, ITEM-AMOUNT*, ALLOWANCE-OR-CHARGE*, TAX?, ITEM-TEXT*)>
<!ATTLIST LINE-ITEM Line-Number CDATA #IMPLIED
                    Action-Request (4|39) #IMPLIED>
<!ELEMENT ITEM-ID (Item-Id)+>
<!ELEMENT Item-Id (#PCDATA)>
<!ATTLIST Item-Id Type (14|SA|VN|CR|ON|PK|TG) "ON">
<!ELEMENT ITEM-DESCRIPTION (Item-Type-Code, Line-35+)>
<!ELEMENT Item-Type-Code (#PCDATA)>
<!ELEMENT ITEM-REFERENCE (REFERENCE-DATE)>
<!ATTLIST ITEM-REFERENCE Type (ON|ADE) 'ON'>
<!ELEMENT ITEM-DATE (Date)>
<!ATTLIST ITEM-DATE Type CDATA	#IMPLIED>
<!ELEMENT DELIVERY-TERMS (Line-70)*>
<!ATTLIST DELIVERY-TERMS Incoterms (CFR|CIF|CIP|CPT|DAF|DDP|DDU|DEQ|DES|EXW|FAS|FCA|FOA|FOB|FOR) #IMPLIED>
<!ELEMENT ITEM-LOCATION (Ean|Line-70)>
<!ATTLIST ITEM-LOCATION Type CDATA #IMPLIED>
<!ELEMENT ITEM-TEXT (Line-70)+>
<!ELEMENT Quantity (#PCDATA)>
<!ATTLIST Quantity Type CDATA #IMPLIED
                            Units CDATA #IMPLIED>
<!ELEMENT Price (#PCDATA)>
<!ATTLIST Price Type CDATA #IMPLIED Units CDATA #IMPLIED>
<!ELEMENT ITEM-AMOUNT (Amount)>
<!ATTLIST ITEM-AMOUNT Type CDATA #IMPLIED>

<!-- ALLOWANCE-OR-CHARGE used in HEADER and in LINE-ITEM -->
<!ELEMENT ALLOWANCE-OR-CHARGE (Service-Code?, SERVICE-TEXT?, ALC-Percent?, ALC-AMOUNT?, ALC-BASE-AMOUNT?, TAX?)>
<!ATTLIST ALLOWANCE-OR-CHARGE Type (A|C) 'A'>
<!ELEMENT Service-Code EMPTY>
<!ATTLIST Service-Code Type CDATA #IMPLIED>
<!ELEMENT SERVICE-TEXT (Line-35)>
<!ELEMENT ALC-Percent (#PCDATA)>
<!ELEMENT ALC-AMOUNT (Amount)>
<!ATTLIST ALC-AMOUNT Print-Status (9|25) #IMPLIED>
<!ELEMENT ALC-BASE-AMOUNT (Amount)>

<!-- SUMMARY  -->
<!ELEMENT SUMMARY (INVOICE-AMOUNT, ALTERNATIVE-AMOUNT?, VAT-AMOUNT?, DEPOSIT-AMOUNT?, EXTENDED-AMOUNT*, TAX*, TAX-INFO?, PAYMENT-TERMS, ADDITIONAL-TEXT*, Back-Pack-Container?)>
<!ELEMENT INVOICE-AMOUNT (Amount)>
<!ATTLIST INVOICE-AMOUNT Print-Status (9|25) '25'>
<!ELEMENT ALTERNATIVE-AMOUNT (Amount, Exchange-Rate?)>
<!ATTLIST ALTERNATIVE-AMOUNT Print-Status (9|25) #IMPLIED>
<!ELEMENT VAT-AMOUNT (Amount, Exchange-Rate?)>
<!ATTLIST VAT-AMOUNT Print-Status (9|25) #IMPLIED>
<!ELEMENT DEPOSIT-AMOUNT (Amount, REFERENCE-DATE?)>
<!ATTLIST DEPOSIT-AMOUNT Print-Status (9|25) #IMPLIED>
<!ELEMENT EXTENDED-AMOUNT (Amount)>
<!ATTLIST EXTENDED-AMOUNT Type CDATA #IMPLIED
                          Print-Status (9|25) #IMPLIED>
<!ELEMENT PAYMENT-TERMS (BASIC, Line-70*, MINIMUM-AMOUNT?, DISCOUNT*, PENALTY?)>
<!ELEMENT BASIC (TERMS)>
<!ATTLIST BASIC Payment-Type (ESR|ESP|NPY) #IMPLIED
                Terms-Type (1|5) '5'>
<!ELEMENT MINIMUM-AMOUNT (Amount)>
<!ELEMENT DISCOUNT (Discount-Percentage, TERMS)>
<!ATTLIST DISCOUNT Terms-Type (22|32) '32'>
<!ELEMENT Discount-Percentage (#PCDATA)>
<!ELEMENT PENALTY (Penalty-Percentage)>
<!ELEMENT Penalty-Percentage (#PCDATA)>
<!ELEMENT TERMS (Payment-Period|Date)>
<!ELEMENT Payment-Period (#PCDATA)>
<!ATTLIST Payment-Period Type (CD|M) "CD"
                         On-Or-After (1|3) "3"
                         Reference-Day (5|29) "5">
<!ELEMENT Back-Pack-Container (#PCDATA)>
<!ATTLIST Back-Pack-Container Encode (Base64|Hex) "Base64">

<!ENTITY % XML-FSCM-COMMON-2003A SYSTEM "XML-FSCM-COMMON-2003A.DTD">
%XML-FSCM-COMMON-2003A;
<!ENTITY % XML-FSCM-SIGNATURE-2003A SYSTEM "XML-FSCM-SIGNATURE-2003A.DTD">
%XML-FSCM-SIGNATURE-2003A;
