doc/paynet/XML-FSCM-CONFIRMATION-2003A.DTD

<!--  XML-FSCM-CONFIRMATION-2003A  -->
<!ELEMENT XML-FSCM-CONFIRMATION-2003A (INTERCHANGE, CONFIRMATION+)>
<!ELEMENT CONFIRMATION (CONFIRMATION-HEADER, CONFIRMATION-STATUS)>
<!ATTLIST CONFIRMATION Confirmed-Message-Flow CDATA #IMPLIED>

<!ELEMENT CONFIRMATION-HEADER (Duplicate-Flag?, MESSAGE-REFERENCE, MESSAGE-SENDER, MESSAGE-RECEIVER)>

<!ELEMENT CONFIRMATION-STATUS (ORIGINAL-MESSAGE, MESSAGE-STATUS)>

<!ELEMENT MESSAGE-STATUS (ERROR-INFO)*>
<!ATTLIST MESSAGE-STATUS Status-Code	(OK|NOK|WRN) #REQUIRED>

<!ENTITY % XML-FSCM-COMMON-2003A SYSTEM "XML-FSCM-COMMON-2003A.DTD">
%XML-FSCM-COMMON-2003A;
